.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 40px;
  margin-inline: 40px;
  gap: 24px;
  @media (min-width: 480px) and (max-width: 600px) {
    flex-wrap: nowrap;
  }

  .search-input {
    width: 15rem;
    padding: 12px;
    color: #c3cfff;
    background-color: #333952;
    border: none;
    border-radius: 4px;
    border: 1px solid #181c2c;
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .selector-menu {
    background-color: #181c2c;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    color: #fffcfc;
    padding: 10px;
    border-radius: 4px;
    border: none;
    border: 1px solid #333952;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
}
