@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Caudex:wght@400;700&family=Caudex:wght@400;700&family=Chakra+Petch:wght@300;400;600;700&family=Commissioner:wght@100;300;400;500;700&display=swap");

@import "./Card.scss";
@import "./SidePanel.scss";
@import "./Forms.scss";
@import "./GamePage.scss";
@import "./Skeleton.scss";

// font-family: 'Bruno Ace SC', cursive;
// font-family: 'Caudex', serif;
// font-family: 'Chakra Petch', sans-serif;
// font-family: 'Commissioner', sans-serif;

body {
  margin: 0;
  background-color: hsl(230, 30%, 18%);
  font-family: "Chakra Petch", sans-serif;
}

.page-wrapper {
  display: flex;
  background-color: hsl(230, 30%, 18%);
  min-height: 100vh;
  height: auto;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 24px;
  margin: 40px;
}

.buy-button {
  cursor: pointer;
  border: none;
  text-decoration: none;
  color: #171b2b;
  background-color: #fbff39;
  padding: 4px 28px;
  border-radius: 4px;
}

.buy-button:active {
  transform: scale(1.05);
}

.buy-button:hover {
  transform: scale(0.95);
}

.card-description {
  padding: 0 12px;
}

@media (max-width: 600px) {
  .main-page {
    display: block;
  }
}

.game-page-image {
  width: 40vw;
}

.error-msg {
  margin: 2.5rem;
  background-color: #9f2828;
  padding: 1rem;
  color: #f9faff;
}
